{% extends 'user/base.html' %}
{% block title %} Movies {% endblock title %}
{% block js %}

{% load static %}

<script src="{% static 'movies/details.js' %}"></script>

{% endblock js %}

{% block navbar %}
{% include 'user/navbar.html' %}
{% endblock navbar %}

{% block content %}

{% if err %}
    <p>{{err}}</p>
{% endif %}
{% if id %}

<div class="container bg-light p-4">

    {% comment %} <div class="row">
        <h3 id="title" class="m-2 p-2 bg-dark col-xl-12 text-white border-left border-warning">Movies</h3>
    </div> {% endcomment %}
    
    <div class="row">
        <div class="col-4">
            <img id="image" class="img-fluid" src="" alt="">
        </div>
        <div class="col-8">
            <div class="row">
                <div>
                    <h3 id="title"></h3>
                </div>
            </div>

            <div class="row pl-2">
                <div>
                    <h6 id="status"></h6>
                </div>
                <div class="col-1">
                    <h6 id="date"></h6>
                </div>
            </div>

            <div class="row pl-2">
                <div >
                    <small><p id="duration"></p></small>
                </div>
                <div class="col-1">
                    <small><p id="genres"></p></small>
                </div>
            </div>

            <div class="row">
                <div class="">
                    <h5 id="rate"></h5>
                </div>
                <div class="col-2">
                    <h5 id="fav"></h5>
                </div>
            </div>

            <div class="row">
                <div class="col-10 p-0">
                    <p id="story"></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock content %}